

@media screen and (max-width:1200px) {
    /* --- Header --- */
    .container header .content-header {
        width: 970px;
    }


    /* --- Menu --- */ 
    .container main .services .container-services .cadre-services .service {
        width: 450px;
    }

    .container main .services .container-services .cadre-services .service .info-service {
        width: 346px
    }

    /* --- Portfolio --- */
    .container main .portfolio .container-portfolio .content-portfolio .projets .projet {
        width: 50%;
    }


    /* --- About Us --- */
    .container main .about .container-about .stats .content-state .box {
        width: 235px;
    }

    .container main .about .container-about .our-skills {
        width: 100%;
        column-gap: 0px;
        row-gap: 50px;
    }

    .container main .about .container-about .our-skills .avis, .skills {
        width: 423px;
    }

    /* --- Pricing --- */
    .container main .pricing .container-pricing {
        width: 970px;
    }

    .container main .pricing .container-pricing .plans .plan {
        width: 293px;
        background-color: #fcfcfc;
        text-align: center;
    }

    .container main .pricing .subscribe form {
        width: 970px;
    }

    .container main .pricing .subscribe form .cadre-input input[type='email'] {
        width: 213px;
    }
    
    .container main .pricing .subscribe form .cadre-input input[type="submit"] {
        width: 130px;
    }
    
    .container main .pricing .subscribe form p {
        width: 55%;
    }

    /* --- Contact --- */
    .container main .contact .container-contact {
        width: 970px;
    }

}





@media screen and (max-width: 992px) {
    /* --- Header --- */

    .container header .content-header {
        width: 750px;
    }


    /* --- Main --- */ 
    .container main .services .container-services .cadre-services .service {
        width: 700px;
        max-width: 100%;
    }
    
    .container main .services .container-services .cadre-services .service .info-service {
        width: 85%;
        max-width: 100%;
    }


    /* --- About Us --- */
    .container main .about .container-about .stats .content-state .box {
        width: 360px;
    }


    .container main .about .container-about .our-skills .avis, .skills {
        width: 720px;
    }

    /* --- Pricing --- */
    .container main .pricing .container-pricing {
        width: 750px;
    }

    .container main .pricing .container-pricing .plans {
        padding: 0 15px;
    }

    .container main .pricing .container-pricing .plans .plan {
        width: 345px;
        background-color: #fcfcfc;
        text-align: center;
    }

    .container main .pricing .subscribe form {
        width: 750px;
    }

    .container main .pricing .subscribe form .cadre-input input[type='email'] {
        width: 370px;
    }
    
    .container main .pricing .subscribe form .cadre-input input[type="submit"] {
        width: 130px;
    }
    
    .container main .pricing .subscribe form p {
        width: 100%;
        text-align: center;
    }


    /* --- Contact --- */
    .container main .contact .container-contact {
        width: 750px;
    }
}



@media screen and (max-width: 768px) {
    h2 {
        font-size: 26px !important;
    }
    .left, .right {
        display: none;
    }

    /* --- Header --- */
    /* --- Créer ou appeler le menu téle --- */
    .container header .content-header {
        width: 750px;
    }

    /* --- Menu --- */
    .humberger {
        display: flex;
    }

    .container header .content-header .main-menu  {
        justify-content: space-evenly;
        width: 120px;
    }

    .container header .content-header .main-menu ul {
        background-color: #0e1720;
        display: none;
        flex-direction: column;
        justify-content: flex-start ;
        position: absolute;
        top: 97px;
        left: 0;
        width: 100%;
        height: auto;
    }

    .container header .content-header .main-menu ul li {
        height: 50px;
        width: 100%;
        text-align: left;
        line-height: 4;        
        padding-left: 20px;
    }

    .container header .content-header .main-menu .humberger:hover + ul {
        display: flex;
        color: var(--main-color);
    }

    .container header .content-header .main-menu ul:hover {
        display: flex;
    }
    
    .container header .content-header .main-menu .humberger:hover::after {
        content: "";
        position: absolute;
        left: -50px;
        width: 400%;
        height: 60px;
    }


    /* --------- Main ----------- */
    .container main .landing .art-landing {
        background-color: var(--transparent-color);
        width: 100%;

    }
    
    .container main .landing .art-landing .cadre-descript {
        width: 100%;
    }

    /* -- Services -- */
    .container main .services .container-services .cadre-services .service {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-align: center;
        row-gap: 25px;
    }
    
    .container main .services .container-services .cadre-services .service .info-service {
        width: 85%;
        max-width: 100%;
    }


    /* --- Design --- */
    .container main .services .design {
        padding: 100px 0
    }
    .container main .services .design .cadre-img {
        display: none;
    }

    .container main .services .design .info-design {
        width: 100%;
    }


    /* --- Portfolio --- */
    .container main .portfolio .container-portfolio .content-portfolio .projets .projet {
        width: 100%;
    }

    .container main .portfolio .cadre-video .info {
        height: 180px;
        padding: 0px 0;
    }

    .container main .portfolio .cadre-video .info h2 {
        font-size: 18px !important;
    }


    /* --- About --- */
    .container main .about .container-about .row-1 .cadre-img img {
        margin-top: 35px;
        transform: translateY(60px);
        -webkit-transform: translateY(60px);
        -moz-transform: translateY(60px);
        -ms-transform: translateY(60px);
        -o-transform: translateY(60px);
    }

    .container main .about .container-about .stats .content-state {
        width: 92%;
    }

    .container main .about .container-about .stats .content-state .box {
        width: 100%;
    }

    .container main .about .container-about .our-skills .main-heanding {
        width: 100%;
    }

    .container main .about .container-about .our-skills .avis, .skills {
        width: 100%;
        padding: 0 15px
    }

    .container main .about .container-about .our-skills .avis .all-users .user {
        flex-direction: column;
        row-gap: 30px;
    }

    .container main .about .container-about .our-skills .avis .all-users .user .avis-user {
        width: 100%;
        text-align: center;
    }

    .container main .about .quote .content q {
        font-size: 22px;
    }
    

    /* --- Pricing --- */
    .container main .pricing .container-pricing {
        width: 100%;
    }

    .container main .pricing .container-pricing .plans {
        padding: 0 15px;
    }

    .container main .pricing .container-pricing .plans .plan {
        width: calc(96% / 2);
        background-color: #fcfcfc;
        text-align: center;
    }

    .container main .pricing .subscribe form {
        width: 100%;
    }


    /* --- Contact --- */
    .container main .contact .container-contact {
        width: 100%;
    }

    .container main .contact .container-contact .content {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 20px;
        row-gap: 40px;
    }

    .container main .contact .container-contact .content .form {
        width: 100%;
    }

    .container main .contact .container-contact .content .info {
        width: 100%;
        text-align: center;
        align-items: center;
        row-gap: 30px;
    }
}


@media screen and (max-width:574px) {

    /* --- Pricing --- */
    .container main .pricing .container-pricing {
        width: 100%;
    }

    .container main .pricing .container-pricing .plans {
        padding: 0 15px;
    }

    .container main .pricing .container-pricing .plans .plan {
        width: 100%;
        background-color: #fcfcfc;
        text-align: center;
    }

    .container main .pricing .subscribe form .cadre-input input[type='email'] {
        width: calc(100% - 130px);
    }
}


@media screen and (max-width: 480px) {
    /* --- Header --- */

    /* --- Menu --- */
    .container main .landing .art-landing .cadre-descript h2 {
        font-size: 26px;
    }


    /* --- Portfolio --- */
    .container main .portfolio .cadre-video .info {
        height: 130px;
    }

    .container main .portfolio .cadre-video .info h2 {
        font-size: 15px !important;
    }

    .container main .portfolio .cadre-video .info span, a {
        font-size: 14px;
    }


    /* --- About --- */
    .container main .about .container-about .stats .content-state .box .number {
        font-size: 40px;
    }


    .container main .about .quote .content q {
        font-size: 20px;
    }
}




@media screen and (max-width: 300px) {
    /* --- Header --- */

    /* --- Main --- */
    .container main .landing .art-landing .cadre-descript h2 {
        font-size: 26px;
    }


    /* --- Portfolio --- */
    .container main .portfolio .cadre-video .info {
        height: 130px;
    }

    .container main .portfolio .cadre-video .info h2 {
        font-size: 15px !important;
    }



    /* --- About --- */
    .container main .about .container-about .row-1 .cadre-img img {
        margin-top: 35px;
        transform: translateY(45px);
        -webkit-transform: translateY(45px);
        -moz-transform: translateY(45px);
        -ms-transform: translateY(45px);
        -o-transform: translateY(45px);
    }
    

    /* --- Pricing --- */

    .container main .pricing .subscribe form .cadre-input {

    }

    .container main .pricing .subscribe form .cadre-input i {
        top: 25%;
    }

    .container main .pricing .subscribe form .cadre-input input[type='email'] {
        padding-left: 0px;
        width: 100%;
        text-align: center
    }
    
    .container main .pricing .subscribe form .cadre-input input[type="submit"] {
        text-transform: uppercase;
        margin: 0 auto;
        width: 100%;
        background-color: var(--main-color);
        cursor: pointer;
    }

}