@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding:0%;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* ---- FOr All Title ---- */
.main-heading {
    width: 100%;
    text-align: center;
}

.main-heading h2 {
    position: relative;
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    color:#000;
    padding-bottom: 14px;
}

.main-heading h2:before {
    position: absolute;
    content: '';
    border-bottom: 2px solid #000;
    width: 70%;
    bottom: 0;

}

.main-heading h2::after {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: -8px;
}

.main-heading p {
    padding-top: 40px;
    max-width: 550px;
}

.left, .right {
    color: #fff;
    position: absolute;
    z-index: 3;
}
.left:hover, .right:hover {
    cursor: pointer;
}
.left:active, .right:active {
    color: rgb(133, 114, 114);
}
.left {
    left: 30px
}
.right {
    right: 30px
}

.humberger {
    display: none;
    color: white;
    font-size: 23px;
    position: relative;
}

body {
    font-family: "Open Sans", sans-serif;
}

:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
}

a {
    text-decoration: none;
    background-color: transparent;

}

li {
    list-style: none;
}

.flex-r {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.flex-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


/* --------- container ---------- */
.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto auto 380px;
    grid-template-areas: "header header header header header header header header header header header header header header header header"
    "main main main main main main main main main main main main main main main main"
    ;
}

/* ------------------ Header -------------------- */
.container header {
    grid-area: header;
    width: 100%;
    height: 97px;
    position: absolute;
    z-index: 2;
}

.container header .content-header {
    width: 1140px;
    height: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #949798;
}

/* --- Logo --- */
.container header .content-header .cadre-logo {
    width:100%;
    max-width: 124px;
    height: 100%;
    justify-content: flex-start;
}

.container header .content-header .cadre-logo a {
    display: block;
}

.container header .content-header .cadre-logo a img {
    display: block;
    width: 110%;
    height: 100%;
}

/* --- Menu --- */
.container header .content-header .main-menu {
    width: 100%;
    max-width: 480px;
    height: 100%;
    justify-content: space-between;
}

.container header .content-header .main-menu ul {
    width: 84%;
    height: 100%;
}

.container header .content-header .main-menu ul li {
    height: 100%;
    text-align:center;    
    line-height: 7;
}

.container header .content-header .main-menu ul li a {
    color:rgb(255, 255, 255);
    display:block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    transition: 0.3s;
    padding: 0 10px;
}


.container header .content-header .main-menu ul li a[href='#'] {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.container header .content-header .main-menu ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.container header .content-header .main-menu .cadre-search {
    width: 40px;
    height: 30%;
    border-left: 1px solid white;
    justify-content: flex-end;
}

.container header .content-header .main-menu .cadre-search i {
    font-size: 20px;
    color: white;
}






/* --------------- Main ---------------- */
.container main {
    grid-area: main;
    width: 100%;
}


/* ------ Landing ------ */
.container main .landing {
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
    background-image: url("../images/landing.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    justify-content: flex-start;
    position: relative;
}

.container main .landing .overlay {
    background-color: rgb(0 0 0 / 60%);
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.container main .landing .art-landing {
    background-color: var(--transparent-color);
    width: 50%;
    min-height: 328px;
    z-index: 1;
    justify-content: flex-end
}

.container main .landing .art-landing .cadre-descript {
    align-items: flex-start;
    width: 500px;
    height: auto;
    z-index: 1;    
    row-gap: 20px;
    color: white;
    margin: 0 50px;
}

.container main .landing .art-landing .cadre-descript h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
}

.container main .landing .art-landing .cadre-descript p {
    font-size: 14px;
    line-height: 2;
}

.container main .landing .page {
    position: absolute;
    width: 100px;
    height: 80px;
    bottom: 0;
    right: calc(50% - 50px)
}

.container main .landing .page li {
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: 0;
    right: calc(50% - 50px);
}

.container main .landing .page li[class='active'] {
    background-color: var(--main-color);
}


/* ------ Services ------ */
.container main .services {
    background-color:rgb(255, 255, 255);
    width: 100%;
    min-height: 835px
}

/* ------ Services ------ */
.container main .services .container-services {
    width: 100%;
    max-width: 1170px;
    justify-content: space-between;
    padding: 80px 0;
    line-height: 2;
    color: #777;
    border-bottom: 1px solid rgb(178, 174, 174);
    row-gap: 95px;
}

.container main .services .container-services .cadre-services {
    width: 100%;
    row-gap: 50px;
    column-gap: 30px;
}

.container main .services .container-services .cadre-services .service {
    width: 100%;
    max-width: 550px;
    align-items: flex-start;
    justify-content: space-between;
    
}

.container main .services .container-services .cadre-services .service i {
    color: #000;
    padding-top: 5px;
}

.container main .services .container-services .cadre-services .service .info-service {
    width: 100%;
    max-width: 446px;
}

.container main .services .container-services .cadre-services .service .info-service h3 {
    padding-bottom: 20px;
    color: var(--main-color);
}

/* ---- Design-mobile ---- */
.container main .services .design {
    position: relative;
    width: 100%;
    background-image: url("../images/design-features.jpg");
    justify-content: space-between;
    overflow: hidden;
    padding: 72px 0;
}

.container main .services .design::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 60%);
}

.container main .services .design .cadre-img {
    width: 45%;
}


.container main .services .design .cadre-img img {
    transform: translateY(150px);
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-transform: translateY(150px);
}

.container main .services .design .info-design {
    background-color: var(--transparent-color);
    color: white;
    width: 54%;
    align-items: flex-start;
    padding: 50px;
    row-gap: 55px;
    z-index: 1;
}

.container main .services .design .info-design h2 {
    font-weight: normal;
}

.container main .services .design .info-design ul li {
    padding: 15px 0;
    position: relative;
    padding-left: 35px
}

.container main .services .design .info-design ul li::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    top: 17px;
    left: -5px;
}











/* --------------- Footer ---------------- */
.container footer {
    grid-area: footer;
    width: 100%;
}
