@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding:0%;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* ---- FOr All Title ---- */
.main-heading {
    width: 100%;
    text-align: center;
}

.main-heading h2 {
    position: relative;
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    color:#000;
    padding-bottom: 12px;
}

.main-heading h2:before {
    position: absolute;
    content: '';
    border-bottom: 3px solid #000;
    width: 120px;
    bottom: 0;
}

.main-heading h2::after {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: -8px;
}

.main-heading p {
    padding-top: 40px;
    max-width: 550px;
    color: #777;
    line-height: 2;
}

.left, .right {
    color: #fff;
    position: absolute;
    z-index: 3;
}
.left:hover, .right:hover {
    cursor: pointer;
}
.left:active, .right:active {
    color: rgb(133, 114, 114);
}
.left {
    left: 30px
}
.right {
    right: 30px
}

.humberger {
    display: none;
    color: white;
    font-size: 23px;
    position: relative;
}

body {
    font-family: "Open Sans", sans-serif;
}

:root {
    --main-color: #19c8fa;
    --transparent-color:rgb(15 116 143 / 70%);
}

a {
    text-decoration: none;
    background-color: transparent;
    
}

li {
    list-style: none;
}

.flex-r {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.flex-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


/* --------- container ---------- */
.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto auto 380px;
    grid-template-areas: "header header header header header header header header header header header header header header header header"
    "main main main main main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer "
    ;
}

/* ------------------ Header -------------------- */
.container header {
    grid-area: header;
    width: 100%;
    height: 97px;
    position: absolute;
    z-index: 2;
}

.container header .content-header {
    width: 1140px;
    height: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #949798;
}

/* --- Logo --- */
.container header .content-header .cadre-logo {
    width:100%;
    max-width: 124px;
    height: 100%;
    justify-content: flex-start;
}

.container header .content-header .cadre-logo a {
    display: block;
}

.container header .content-header .cadre-logo a img {
    display: block;
    width: 110%;
    height: 100%;
}

/* --- Menu --- */
.container header .content-header .main-menu {
    width: 100%;
    max-width: 480px;
    height: 100%;
    justify-content: space-between;
}

.container header .content-header .main-menu ul {
    width: 84%;
    height: 100%;
}

.container header .content-header .main-menu ul li {
    height: 100%;
    text-align:center;    
    line-height: 7;
}

.container header .content-header .main-menu ul li a {
    color:rgb(255, 255, 255);
    display:block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    transition: 0.3s;
    padding: 0 10px;
}


.container header .content-header .main-menu ul li a[href='#'] {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.container header .content-header .main-menu ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.container header .content-header .main-menu .cadre-search {
    width: 40px;
    height: 30%;
    border-left: 1px solid white;
    justify-content: flex-end;
}

.container header .content-header .main-menu .cadre-search i {
    font-size: 20px;
    color: white;
}






/* --------------- Main ---------------- */
.container main {
    grid-area: main;
    width: 100%;
}


/* ------ Landing ------ */
.container main .landing {
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
    background-image: url("../images/landing.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    justify-content: flex-start;
    position: relative;
}

.container main .landing .overlay {
    background-color: rgb(0 0 0 / 60%);
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.container main .landing .art-landing {
    background-color: var(--transparent-color);
    width: 50%;
    min-height: 328px;
    z-index: 1;
    justify-content: flex-end
}

.container main .landing .art-landing .cadre-descript {
    align-items: flex-start;
    width: 500px;
    height: auto;
    z-index: 1;    
    row-gap: 20px;
    color: white;
    margin: 0 50px;
}

.container main .landing .art-landing .cadre-descript h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
}

.container main .landing .art-landing .cadre-descript p {
    font-size: 14px;
    line-height: 2;
}

.container main .landing .page {
    position: absolute;
    width: 100px;
    height: 80px;
    bottom: 0;
    right: calc(50% - 50px)
}

.container main .landing .page li {
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: 0;
    right: calc(50% - 50px);
}

.container main .landing .page li[class='active'] {
    background-color: var(--main-color);
}


/* ------ Services ------ */
.container main .services {
    background-color:rgb(255, 255, 255);
    width: 100%;
    min-height: 835px
}

/* ------ Services ------ */
.container main .services .container-services {
    width: 100%;
    max-width: 1170px;
    justify-content: space-between;
    padding: 80px 0;
    line-height: 2;
    color: #777;
    border-bottom: 1px solid rgb(178, 174, 174);
    row-gap: 95px;
}

.container main .services .container-services .cadre-services {
    width: 100%;
    row-gap: 50px;
    column-gap: 30px;
}

.container main .services .container-services .cadre-services .service {
    width: 100%;
    max-width: 550px;
    align-items: flex-start;
    justify-content: space-between;
    
}

.container main .services .container-services .cadre-services .service i {
    color: #000;
    padding-top: 5px;
}

.container main .services .container-services .cadre-services .service .info-service {
    width: 100%;
    max-width: 446px;
}

.container main .services .container-services .cadre-services .service .info-service h3 {
    padding-bottom: 20px;
    color: var(--main-color);
}

/* ---- Design-mobile ---- */
.container main .services .design {
    position: relative;
    width: 100%;
    background-image: url("../images/design-features.jpg");
    justify-content: space-between;
    overflow: hidden;
    padding: 72px 0;
}

.container main .services .design::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 60%);
}

.container main .services .design .cadre-img {
    width: 45%;
}


.container main .services .design .cadre-img img {
    transform: translateY(150px);
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-transform: translateY(150px);
}

.container main .services .design .info-design {
    background-color: var(--transparent-color);
    color: white;
    width: 54%;
    align-items: flex-start;
    padding: 50px;
    row-gap: 55px;
    z-index: 1;
}

.container main .services .design .info-design h2 {
    font-weight: normal;
}

.container main .services .design .info-design ul li {
    padding: 15px 0;
    position: relative;
    padding-left: 35px
}

.container main .services .design .info-design ul li::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    top: 17px;
    left: -5px;
}


/* ---- Portfolio ---- */
.container main .portfolio {
    width: 100%;
    height:auto;
    background-color: rgb(255, 255, 255);
}

.container main .portfolio .container-portfolio {
    width: 100%;
    height:auto;
    padding: 100px 0;
    row-gap: 100px;
}

.container main .portfolio .container-portfolio .main-heading h2 {
    padding-bottom: 30px
}

.container main .portfolio .container-portfolio .content-portfolio {
    width: 100%;
    row-gap: 50px;
}

.container main .portfolio .container-portfolio .content-portfolio ul li {
    padding: 10px 10px
}

.container main .portfolio .container-portfolio .content-portfolio ul li:first-child {
    background-color: var(--main-color);
    color: white;
}

.container main .portfolio .container-portfolio .content-portfolio .projets {
    width: 100%;
    margin-top: 8px
}

.container main .portfolio .container-portfolio .content-portfolio .projets .projet {
    width: calc(100% / 4);
    position: relative;
    overflow: hidden;
}

.container main .portfolio .container-portfolio .content-portfolio .projets .projet img {
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.container main .portfolio .container-portfolio .content-portfolio .projets .projet .info {
    position:absolute;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
    height: 0px;
    z-index: 1;
    bottom: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    align-items: flex-start;
    row-gap: 10px;
}

.container main .portfolio .container-portfolio .content-portfolio .projets .projet:hover .info{
    height: 88px;
    padding: 20px;
}

.container main .portfolio .container-portfolio .content-portfolio .projets .projet:hover img {
    transform: rotate(0.1turn);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

}

.container main .portfolio .container-portfolio .content-portfolio .projets .projet .info p{
    color: var(--main-color);
}

.container main .portfolio .container-portfolio .content-portfolio .btn-more a {
    padding: 15px 20px;
    background-color: var(--main-color);
    color:#fff
}

.container main .portfolio .cadre-video {
    width: 100%;
    margin-top: 52px;
    position: relative;
}

.container main .portfolio .cadre-video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.container main .portfolio .cadre-video video {
    width: 100%;
}

.container main .portfolio .cadre-video .info {
    position: absolute;
    background-color: rgb(15 116 143 / 70%);
    width: 100%;
    height: 244px;
    color:#fff;
    padding: 20px 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.container main .portfolio .cadre-video .info h2 {
    font-weight: normal;
    text-align: center;
}

.container main .portfolio .cadre-video .info a {
    color:#fff;
    background-color: black;
    padding: 10px 20px;
}


/* --- About Us --- */
.container main .about {
    width: 100%;
}

.container main .about .container-about {
    width: 100%;
    padding: 110px 0 35px;
}

.container main .about .container-about .row-1 {
    width: 100%;
    overflow: hidden;
}

.container main .about .container-about .row-1 .main-heading h2 {
    padding-bottom: 27px;
}

.container main .about .container-about .row-1 .cadre-img img {
    width: 100%;
    margin-top: -20px;
    transform: translateY(120px);
    -webkit-transform: translateY(120px);
    -moz-transform: translateY(120px);
    -ms-transform: translateY(120px);
    -o-transform: translateY(120px);
}

.container main .about .container-about .stats {
    position: relative;
    width: 100%;
    padding: 100px 0;
    height: auto;
    background-image: url('../images/stats.png');
}

.container main .about .container-about .stats::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.container main .about .container-about .stats .content-state {
    position: relative;
    width: auto;
    color: white;
    justify-content: center;

}

.container main .about .container-about .stats .content-state .box {
    width: 285px;
    height: 264px;
    padding: 20px 0;
    background-color: var(--transparent-color);
}

.container main .about .container-about .stats .content-state .box i {
    background-color: black;
    padding: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container main .about .container-about .stats .content-state .box .number {
    font-size: 50px;
    font-weight: bold;
}

.container main .about .container-about .stats .content-state .box span {
    font-size: 14px;
}

.container main .about .container-about .our-skills {
    width: 1170px;
    align-items: flex-start;
    column-gap: 70px;
    margin: 100px 0
}

.container main .about .container-about .our-skills .avis, .skills {
    width: 513px;
    row-gap: 60px;
}

.container main .about .container-about .our-skills .main-heanding {
    width: 90%;
    text-align: center;
    row-gap: 30px;

}

.container main .about .container-about .our-skills .main-heanding h3 {
    font-weight: normal;
}

.container main .about .container-about .our-skills .main-heanding p {
    color: #777;
    line-height: 2;
}

.container main .about .container-about .our-skills .avis .all-users {
    row-gap: 30px;
    padding: 0 15px

}

.container main .about .container-about .our-skills .avis .all-users .user {
    justify-content: space-between;
    line-height: 1.8;
}

.container main .about .container-about .our-skills .avis .all-users .user .cadre-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.container main .about .container-about .our-skills .avis .all-users .user img {
    width: 100px;
    height: 100px;
}

.container main .about .container-about .our-skills .avis .all-users .user .avis-user {
    width: 70%;
    border-bottom: 1px solid #ccc;
}

.container main .about .container-about .our-skills .avis .all-users .user .avis-user span {
    display: block;
    color: #777;
    font-size: 14px;
    text-align: right;
    padding: 0 0 10px
}

.container main .about .container-about .our-skills .avis .all-users ul {
    width: 80px;
    height: 20px;
    margin-top: 15px;
}

.container main .about .container-about .our-skills .avis .all-users ul li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #777;
}

.container main .about .container-about .our-skills .avis .all-users ul li[class='actuel'] {
    background-color: var(--main-color);
}

.container main .about .container-about .our-skills .skills .all-skills {
    width: 100%;
    align-items: flex-start;
    row-gap: 40px;
}

.container main .about .container-about .our-skills .skills .all-skills .skill {
    width: 100%;
}

.container main .about .container-about .our-skills .skills .all-skills .skill h4 {
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.container main .about .container-about .our-skills .skills .all-skills .skill .cadre-bar {
    background-color: #dedadc;
    width: 100%;
    height: 30px;
    position: relative;
}

.container main .about .container-about .our-skills .skills .all-skills .skill span {
    position: relative;
    display: inline-block;
    height: 30px;
    background-color: var(--main-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.container main .about .container-about .our-skills .skills .all-skills .skill .cadre-bar span::before {
    position: absolute;
    content: attr(data-progress);
    background-color:#000;
    color: white;
    padding: 5px;
    right: -20px;
    top: -42px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 1;
}

.container main .about .container-about .our-skills .skills .all-skills .skill .cadre-bar span::after {
    position: absolute;
    content: '';
    background-color:#000;
    padding: 10px;
    right: -10px;
    top: -30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.container main .about .quote {
    background-image: url("../images/quote.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
}

.container main .about .quote::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.container main .about .quote .content {
    z-index: 1;
    row-gap: 20px;
    width: 90%;
}

.container main .about .quote .content q {
    font-size: 30px;
    line-height: 1.2;
}


/* --- Pricing --- */
.container main .pricing {
    width: 100%;
}

.container main .pricing .container-pricing {
    width: 1170px;
    padding: 100px 0;
}

.container main .pricing .container-pricing .main-heading h2 {
    padding-bottom: 30px;
}

.container main .pricing .container-pricing .plans {
    width: 100%;
    padding: 0 20px;
    margin: 100px 0 50px;
    row-gap: 30px;
    justify-content: space-between
}

.container main .pricing .container-pricing .plans .plan {
    width: 263px;
    background-color: #fcfcfc;
    text-align: center;
}

.container main .pricing .container-pricing .plans .plan .head {
    width: 100%;
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
}

.container main .pricing .container-pricing .plans .plan .head h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 40px 0 0;
}

.container main .pricing .container-pricing .plans .plan .head span {
    position: relative;
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    margin: 20px 0 40px;
}

.container main .pricing .container-pricing .plans .plan .head span::before, span::after {
    position: absolute;
}

.container main .pricing .container-pricing .plans .plan .head span::before {
    position: absolute;
    content: "$";
    top: -5px;
    left: -30px;
    font-weight: normal;
    font-size: 25px;
}

.container main .pricing .container-pricing .plans .plan .head span::after {
    content: "/Mo";
    bottom: 5px;
    right: -50px;
    font-size: 20px;

}

.container main .pricing .container-pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}

.container main .pricing .container-pricing .plans .plan ul li {
    padding: 20px 0;
    position: relative;
}

.container main .pricing .container-pricing .plans .plan ul li::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.container main .pricing .container-pricing .plans .plan ul li:last-child:after {
    display: none;
}

.container main .pricing .container-pricing .plans .plan .foot {
    width: 100%;
}

.container main .pricing .container-pricing .plans .plan .foot a {
    display: block;
    padding: 20px;
    margin: 30px auto;
    width: 110px;
    border: 1px solid var(--main-color);
    text-transform: capitalize;
}

.container main .pricing .container-pricing .plus-info {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.container main .pricing .container-pricing .plus-info p {
    font-size: 20px;
}

.container main .pricing .container-pricing .plus-info a {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: var(--main-color);
    color:rgb(255, 255, 255);
}

.container main .pricing .subscribe {
    position: relative;
    background-image: url("../images/subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 100px 20px;
}

.container main .pricing .subscribe::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.container main .pricing .subscribe form {
    width: 1170px;
    height: auto;
    color: white;
    column-gap: 20px;
    row-gap: 30px;
    z-index: 1;
}

.container main .pricing .subscribe form .cadre-input {
    position: relative;
    border: 1px solid #fcfcfc
}

.container main .pricing .subscribe form .cadre-input input {
    padding: 20px;
    color: white;
    border: none
}

.container main .pricing .subscribe form .cadre-input  input::placeholder {
    color: white;
}

.container main .pricing .subscribe form .cadre-input i {
    position: absolute;
    top: 50%;
    left: 25px;
    font-size: 22px
}

.container main .pricing .subscribe form .cadre-input input[type='email'] {
    padding-left: 63px;
    width: 295px;
    background-color: transparent;
}

.container main .pricing .subscribe form .cadre-input input[type="submit"] {
    text-transform: uppercase;
    width: 130px;
    background-color: var(--main-color);
    cursor: pointer;
}

.container main .pricing .subscribe form p {
    width: 55%;
    line-height: 2;
}


/* --- Contact --- */
.container main .contact {
    width: 100%;
}

.container main .contact .container-contact {
    width: 1170px;
    padding: 100px 0;
    margin: 0 auto;
}

.container main .contact .container-contact .main-heading {
    margin-bottom: 100px;
}

.container main .contact .container-contact .main-heading h2 {
    padding-bottom: 30px;
}

.container main .contact .container-contact .content {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.container main .contact .container-contact .content .form {
    width: 70%;
    row-gap: 30px;
    align-items: flex-end;
}

.container main .contact .container-contact .content .form input, .txtarea  {
    width: 100%;
    padding: 19px;
    outline: none;
    border: 1px solid#ccc;
}

.container main .contact .container-contact .content .form .txtarea {
    
}

.container main .contact .container-contact .content .form input[type='submit'] {
    width: 157px;
    background-color: var(--main-color);
    color: white;
    margin-right: 0px;
    cursor: pointer;
}

.container main .contact .container-contact .content .info {
    color: #777;
    row-gap: 80px;
    align-items: flex-start;
    line-height: 2;
    width: 25%;
}

.container main .contact .container-contact .content .info h4 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1;

}

.container main .contact .container-contact .content .info .phone span {
    display: block;
}


/* --------------- Footer ---------------- */
.container footer {
    grid-area: footer;
    width: 100%;
    padding: 0px;
    background-image: url('../images/subscribe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container footer::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 70%);
}

.container footer .container-footer {
    z-index: 1;
    row-gap: 38px;
    color: white;
}

.container footer .container-footer a {
    color: white;
}

.container footer .container-footer .social {
    row-gap: 20px;
    padding-bottom: 20px;
}

.container footer .container-footer .social p {
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    padding:  20px;
}

.container footer .container-footer .social .lien {
    font-size: 17px;
}

.container footer .container-footer .social .lien a {
    display: inline-block;
    padding: 10px 15px;
}

.container footer .container-footer p {
    text-transform: capitalize;
    text-align: center;
}

.container footer .container-footer p a {
    color: var(--main-color);
    font-weight: bold;
}